/*********mobile**************/
@media(max-width:980px){
.col-xs-12{
width:100%;
}
.col-xs-6{
width:50%;
float:right;
}
.col-xs-4{
width:33%;
float:left;
}
.col-xs-3{
width:25%;
float:right;
}
    .container{
        width: 97%;
        
    }
    .top .container .topl{
        width: 50%;
        margin-top: 10px;
    }
    .top .container .topl span{
    display: block;
    font-size: 40px;
    margin: 20px 0px;
    }
    .top .container .topr{
        margin-top: 10px;
        width:37%; 
    }
    .top .container .topr span{
        font-size: 44px;
    }
    nav{
        width: 100%;
        padding: 0px;
        overflow: hidden;
    }
    nav .logo{
        width: 47%;
        display: none;
    }
     nav >span{
        display: inline-block;
        float: right;
    }
    nav >span i{
        font-size: 65px;
    }   
    nav .list{
        display: none;
        margin-right: 0%;
        width: 100%;
        background-color: rgba(0,0,0,.6);\
    }
    nav .list>ul{
        width: 100%;
        float: none;
    }
    nav .list>ul >li {
    display: block;
    width: 60%;
    text-align: start;
    margin-left: 40%;
    margin-top: 10px;
    }
    nav .list>ul >li>a{
        font-size: 47px;
    }
    .drop1 i{
        font-size: 47px;
        margin-left: 5px;
    }
    /***********************/
    .drop1 .sub-menu-1{
        top: 0%;
    width: 60%;
    margin-left: -46%;
    }
    .drop1 .sub-menu-1 ul{
        
    }
    .drop1 .sub-menu-1 ul li{
        display: block;
    }
    .drop1 .sub-menu-1 ul li a{
        font-size: 39px;
    display: block;
    padding: 10px 0px
    }    
    /***********************/
    .btn{
        width: 260;
        height: 70;
        font-size: 46px;        
    }
    .headparent .title{
        width: 100%;
        float: left;
    }
    .headparent .title h2 p:nth-of-type(2){
        font-size: 65;
        
    }
    .crtop h1{
        width: 100%;
        font-size: 48px;
    }
    .crtop .next{
        float: left;
        width: 17%;
        margin-top: 15px;
    }
    .crtop .next span{
        width: 27%;
        font-size: 40px;
    }
    .viewparent {
        padding-top: 60px;
    }
    .viewbox{
        float: none;
        width: 80%;
        margin: auto;
        margin-top: 10px;
    }
    .viewbox:nth-of-type(2){
        margin:10px auto;
    }
    .viewbox .viewboxtext h3 {
        font-size: 50px;
    }
    .viewbox .viewboxtext span {
        font-size: 30px;
    }
    .courses>button{
        width: 30%;
        height: 5%;
        font-size: 40px;
    }
    .course1parent .course1{
        width:80%;
        float: none;
        margin:80px auto;
    }
    .coursecontent .smallimg {
        top: -24%;
    }
    .coursecontent p{
        font-size: 40;
        font-weight: 600;
        margin-top: 0;
    }    
    .coursecontent h2 {
        font-size: 40px;
    }
    .coursecontent .more span {
        font-size: 45px;
    }
    .coursecontent .more span:nth-of-type(5) {
        font-size: 45px;
    }
    .registerl{
        float: none;
    }
    .registerl h1{
        font-size: 55px;
    }
    .registerl .num{
        margin-bottom: 40px;
    }
    .registerl .num span{
        margin: 2px 3px;
    }    
    .registerl .num span:nth-of-type(1){
        margin-left: 0px;
    }
    .registerl .num span:nth-of-type(4){
        margin-right: 0px;
    }
    .registerr{
        width: 53%; 
        float: none;
        margin: auto;
    }
    .registerr h2 span {
        font-size: 31px;
    }
    .registerr form input{
        height: 4%;
        font-size: 36px;    
    }
    .registerr form button{
        font-size: 33px;
    }
    .events .head h1 {
        font-size: 60px;
    }
    .events .head p {
        font-size: 35px;
    }
    .events .head .headl {
        width: 90%; 
        padding: 0% 5%;
    }
    .events .head button {
    float: left;
    margin-left: 5%;
    width: 23%;
    font-size: 30px;
    height: 60px;
    }
    .big .event1 .date {
        width: 90%;
        padding: 5%;
        padding-bottom: 0;
        overflow: hidden;
    }
    .big .event1 .date::before {
        display: none;
    }
    .big .event1 .date span {
        text-align: left;
    }
    .big .event1 .date span:nth-of-type(1) {
        font-size: 110px;
    }
    .big .event1 .date span:nth-of-type(2) {
        font-size: 50px;
    }
    .big .event1 .info{
        width: 90%;
        padding: 5%;
        margin: 0;
        margin-top: 0px;    
    }
    
    .big .event1 .info h2 {
            font-size: 60px;
    }
    .big .event1 .info .infoin {
        width: 100%;
    }
    .big .event1 .info .infoin span {
        font-size: 33px;
    }
    .big .event1 .info .infoin span span{
        font-size: 33px;
    }    
    
    .big .event1 .info .infoin p {
        font-size: 48px;
    }
    .big .event1 .eventimg{
        width: 90%;
        float: none;
        margin: auto;
    }
    .newsinfo {
        padding: 1%;
    }
    .newsinfo span{
        font-size: 28px;
        font-weight: 600;
    }
    
    .news .news1parent .news1 p {
        font-size: 40px;
    }
    .news .news1parent .news1 {
        width: 60%;
        float: none;
        margin: auto;
    }
    .news .news1parent .news1:nth-of-type(2) {
        margin: 40px auto;
    }
    .opinion h1 {
        font-size: 50px;
    }

    .opinion .add {
        font-size: 43px;
    }
    .opinion .people{
        width: 97%;
        margin: auto;
        margin-top: 100;
    }
    .opinion .people .people1parent{
        margin: 1% 1%;
        width: 100px;
        height: 100px;
    }
    .opinion .people1{
        height: 100px;
    }
    .optext{
        width: 100%;
        font-size: 38px;
    }
    .letter{
        width: 80%;
        margin: 0px;
    }
    .letter p{
        font-size: 40px;
    }
    .letter form input{
        font-size: 25px;
        height: 60px;
        font-weight: bolder;
    }
    .letter form button{
        font-size: 26px;
        height: 60px;
    }
    .fotparent span{
        font-size: 25px;
    }
    .fot1 .icons{
        
    }
    
    .bottomimg .layout p {
        font-size: 45px;
    }
    .fot1, .fot2, .fot3, .fot4, .fot5 {
        width: 30%;
        margin-top: 50px;
    }
    .bottomimg .layout button {
        width: 29%;
        height: 20%;
        font-size: 31px;
    }
}
/*******tablet******/
@media(min-width:981px) and (max-width:1200px){
.col-md-12{
width:100%;
}
.col-md-6{
width:50%;
float:right;
}
.col-md-4{
width:33%;
float:right;
}
.col-md-3{
width:25%;
float:right;
}
    .container{
        width: 98%;
            
    }
    .list{
        display: none;
    }
    .top .container .topl{
        width: 82%;
        margin-top: 10px;
    }
    .top .container .topr{
        margin-top: 10px;
        width:106px; 
    }    
    nav .logo{
        width: 23%;
    }
    .headparent .title{
        width: 80%;
        float: left;
    }
    .headparent .title h2 p:nth-of-type(2){
        font-size: 65;
        
    }
    .viewbox{
        width: 32%;
        float: left;
        padding: 35px 0px;
    }
    .viewbox .viewboxtext {
        margin-left: 20px;
    }
    .crtop .next {
        width: 11%;
    }
    .course1{
        width: 24%;
    }
    .course1:nth-of-type(2){
        margin-left: 1%;
        margin-right: 1%;    
    }
    .course1:nth-of-type(3){
        margin-right: 1%;            
    }
    .register .layout {
        width: 98%;
        padding: 7% 1%;
            
    }
    .registerl .num span{
        margin-top: 10px;
    }
    .registerr{
        width: 50%;
    }
    .events .head .headl {
        width: 50%;
    }
    .big .event1 .eventimg {
        width: 32%;
    }
    .big .event1 .info .infoin {
        width: 87%;
    }
    .opinion .people{
        width: 100%;
        padding: 10px 0px;    
    }
    .optext{
        width: 90%;
    }
    .letter{
        width: 70%;
    }
    .fot1{
        width: 24%;
        margin-right: 1.5%;
    }
    .fot3{
        margin-left: 2%;
    }
    .fot1 .fot1img{
        width: 60%;
    }    
    .fot2 , .fot3 , .fot4 , .fot5{
        width: 18%;
    }    
    .foth{
        font-size: 21px;
    }
}
/*****large screen******/
@media(min-width:993px){
.col-lg-12{
width:100%;
}
.col-lg-6{
width:50%;
float:right;
}
.col-lg-4{
width:33%;
float:right;
}
.col-lg-3{
width:25%;
float:right;
}
    
    
}
